* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#93278F, #662D91);
    font-family: "Roboto", Arial, sans-serif;
    max-height: 1334px;
}

.logo {
    text-align: center;
    margin-top: 191px;
}

.logo img {
    height: 100px;
    width: 147px;
}

.form {
    text-align: center;
    margin-top: 146px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-radius: 20px;
    background: rgba(255,255,255,0.5);
    padding: 40px 524px 40px 35px;
    font-size: 30px;
    font-weight: 200;
    color: white;
    margin-top: 80px;
}

.button {
    text-align: center;
    margin-top: 120px;
}

.button a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 200;
    color: #C04BC9;
    border: solid 1px white;
    background-color: white;
    padding: 42px 117px;
}
















